@keyframes shrink {
  from {
    height: 1.7rem;
  }
  to {
    height: 1.1rem;
  }
}

@keyframes expand {
  from {
    height: 1.1rem;
  }
  to {
    height: 1.7rem;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  height: 70px;

  position: absolute;
  right: 100px;
  top: 200px;

  border-radius: 18px;
  background: rgba(33, 27, 27, 0.55);
}

.my-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.home-button {
  background-image: url("images/home.svg");
  width: 40px;
  height: 37.21px;
  margin: 0 12px 0 10px;
}

.home-button:focus {
  background-image: url("images/home-button.svg");
}

.square:nth-child(1) {
  display: inline-block;
  margin-left: 20px;
}
.square {
  background: rgba(33, 27, 27, 0);
  height: 1.1rem;
  width: 0.4rem;
  margin: 1rem;
  border-style: solid;
  border-color: white;
  border-width: 1.2px;

  animation: shrink ease-out 0.7s;
}

.square:focus {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 1.2px;
  height: 1.7rem;
  animation: expand ease-out 0.7s;
}

button {
  all: unset;
}
